<!doctype html>
<html>
  <head>
    <title>Onesie</title>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.6.1/css/tachyons.min.css"/>
  </head>
  <body>
    <article class="pa4 ph7-l georgia mw9-l">
      <h1>Welcome to Onesie!</h1>

      <p>Things that don't quite work yet (last updated 2017-02-16):</p>
      <ul>
        <li>File upload via web UI</li>
        <li>Payment (It's all free!)</li>
        <li>Looking pretty</li>
        <li>SSL cert generation has a locking problem</li>
        <li>Monitoring</li>
      </ul>
      <p>Email <strong>nat@natwelch.com</strong> if you need help.</p>

      <h2>Authentication Keys</h2>

      <div class="pa4">
        <div class="overflow-auto">
          <table class="f6 w-100 mw8 center" cellspacing="0">
            <thead>
              <tr>
                <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Client ID</th>
                <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Client Secret</th>
              </tr>
            </thead>
            <tbody class="lh-copy">
              {{ range $k, $c := .user.Credentials }}
              <tr>
                <td class="pv3 pr3 bb b--black-20">{{ $c.Id }}</td>
                <td class="pv3 pr3 bb b--black-20">{{ $c.Secret }}</td>
              </tr>
            {{ end }}
            </tbody>
          </table>
        </div>
      </div>

      <h2>How to upload</h2>

      <h3>Use Travis-CI.org</h3>
      <p>
      Add the following blob to your .travis.yml
      </p>
      <p>
      <pre>
      deploy:
        provider: onesie
        edge:
          source: icco/dpl
          branch: onesie
        key: key-from-above
        secret: secret-from-above
        domain: domain.below
      </pre>
      </p>

      <h3>Upload Manually</h3>
      <p>
      Or if you don't use Travis, you can do it by hand.
      <ul>
        <li>In the directory you want to upload: <pre>tar -zvcf out.tgz --exclude .git .</pre></li>
        <li><pre>curl https://www.onesie.website/upload -X POST -H Onesie-Key:key-from-above -H Onesie-Secret:secret-from-above -H Onesie-Domain:domain-below -F "file=@out.tgz"</pre></li>
      </ul>
      </p>

      <h2>Existing Domains.</h2>
      <p>For each of these to work, they need to have A records pointing at the following IPs:</p>
      <ul>
        <li>104.198.128.22</li>
        <li>104.154.142.2</li>
      </ul>

      <p>Your existing domains:</p>

      <div class="pa4">
        <div class="overflow-auto">
          <table class="f6 w-100 mw8 center" cellspacing="0">
            <thead>
              <tr>
                <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Domain Name</th>
                <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">DNS Configured</th>
              </tr>
            </thead>
            <tbody class="lh-copy">
              {{ range $key, $s := .user.Sites }}
              <tr>
                <td class="pv3 pr3 bb b--black-20">{{ $s.Domain }}</td>
                <td class="pv3 pr3 bb b--black-20">{{ $s.Dns }}</td>
              </tr>
            {{ end }}
            </tbody>
          </table>
        </div>
      </div>

      <h2>Add a new domain!</h2>
      <form class="pa4 black-80" action="/sites" method="post">
        <div class="measure">
          <label for="domain" class="f6 b db mb2">Domain name</label>
          <input type="text" class="input-reset ba b--black-20 pa2 mb2 db w-100" placeholder="example.com" name="domain"/>
          <small class="f6 black-60 db mb4">This will add a domain to your account.</small>

          <button class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6" type="submit">Add Domain</button>
        </div>
      </form>
    </article>
  </body>
</html>
