<!doctype html>
<html>
  <head>
    <title>Onesie</title>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.6.1/css/tachyons.min.css"/>
  </head>
  <body>
    <article>
      <header class="bg-gray sans-serif">
        <div class="mw9 center pa4 pt5-ns ph6-l">
          <div class="f6 mb2 dib ttu tracked"><small>Onesie</small></div>
          <h3 class="f2 f1-m f-headline-l measure-narrow lh-title mv0">
            <span class="bg-black-90 lh-copy white pa1 tracked-tight">
              Simple website hosting
            </span>
          </h3>
          <h4 class="f3 fw1 georgia i"> for $5 a month</h4>
        </div>
      </header>
      <div class="pa4 ph6-l georgia mw9-l center">
        <p class="f5 f3-ns lh-copy measure georgia">
        Welcome to Onesie. We provide hosting for static websites at $5 USD a month for every 10 domains.
        </p>

        <p class="f5 f4-ns lh-copy measure">
        SSL? HTTPS? We provide that for free. We'll even generate your certificate for you, so you don't have to pay any other costs.
        </p>

        <p class="f5 f4-ns lh-copy measure">
        As many deploys as you want. Change your copy as often as you want, we don't care.
        </p>

        <a class="no-underline near-black hover-near-white bg-animate bg-gold hover-bg-gray inline-flex items-center ma2 tc br2 pa2" href="/login" title="Login with Google">
          <svg class="dib h2 w2" version="1.1" xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="18px" height="18px" viewBox="0 0 48 48"><g><path fill="#EA4335" d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"></path><path fill="#4285F4" d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"></path><path fill="#FBBC05" d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"></path><path fill="#34A853" d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"></path><path fill="none" d="M0 0h48v48H0z"></path></g></svg>
          <span class="fw8 f4 ml3 pr2">Log In with Google</span>
        </a>
      </div>
    </article>
  </body>
</html>
